
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://ipa.cydiabwcx.com/data/attachment/1-1535453269.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://zhuanqianbar.cn/tools/images/BBB.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://zhuanqianbar.cn/tools/images/BBB.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.again.free001</string>
				<key>bundle-version</key>
				<string>6.7.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>牛奶微商</string>
				<key>title</key>
				<string>全能微信3-更多福利及更新请关注公众号：工具Sir</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
