
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://cdnappdown.xiaoyuanbst.cn/3157-ios-d9b863b06cb767999536c891a6cf5b7c.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://zhuanqianbar.cn/tools/img/dhf.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://zhuanqianbar.cn/tools/img/dhf.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.pangu.small</string>
				<key>bundle-version</key>
				<string>6.5.16</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>微信vip</string>
				<key>title</key>
				<string>小灰灰，更多福利及更新请关注公众号：工具Sir
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
